.home-page-bg {
  background-image: url("../../images/background.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home-page {
  text-align: center;
}

.hero-section {
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.branch-selection {
  background-color: #fff;
  border: none;
  padding: 10px 30px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ff8c00;
}

.order-now-button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 10px;
  background-color: #ff8c00;
}

.order-now-button:hover {
  background-color: #e07b00;
}

.hero-image {
  width: 40%;
  height: auto;
  background: none;
}

.how-it-works {
  padding: 60px 20px;
  text-align: center;
}

.how-it-works h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  flex: 1;
  box-sizing: border-box;
  margin: 5px 10px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding-bottom: 30px;
}

.step img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.text {
  text-align: center;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0 5px;
}

.description {
  font-size: 0.9rem;
  margin-top: 20px;
  color: #555;
}

.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../images/background.png");
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 20px auto;
  overflow: hidden;
}

.text-content {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-content {
  flex: 1;
  text-align: right;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.feature-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.feature-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.view-all-button {
  background-color: #ff8c00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.view-all-button:hover {
  background-color: #e07b00;
}

.arrow {
  margin-left: 8px;
  font-size: 1.2rem;
}

.customers-say {
  display: flex;
  padding: 20px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
}

.image-container {
  flex: 1;
  display: flex;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.feedback-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
}

.feedback-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.feedbacks {
  margin-top: 50px;
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
}

.feedback.active {
  opacity: 1;
}

.feedback-message {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-bottom: 15px;
}

.feedback-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.customer-name {
  font-size: 0.9rem;
  color: #333;
}
